@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

:host {
  .register-container {
    mat-card {
      width: 100%;
    }

    @include mix.centered-container(vars.$card-width-sm);
  }

  mat-card-header {
    padding-bottom: vars.$spacing-md;
  }

  .form-actions {
    @include mix.form-actions;
  }

  .error-message {
    @include mix.error-message;
  }

  mat-card-actions p {
    font-size: vars.$font-size-sm;
  }

  button[type='submit'] {
    width: 100%;

    @include mix.button-with-spinner;
  }
}
