@use 'abstracts/variables' as vars;
@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

:host {
  display: block;
  width: 100%;

  @include mix.card-container;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: vars.$spacing-xl;
}

.section-card {
  position: relative;
  margin-bottom: vars.$spacing-lg;
}

.header-action {
  position: absolute;
  top: vars.$spacing-md;
  right: vars.$spacing-md;
}

.actions-table {
  width: 100%;
}

code {
  padding: func.rem(2) func.rem(6);
  font-family: monospace;
  background: rgb(0 0 0 / 4%);
  border-radius: vars.$border-radius-sm;
}
