@use 'abstracts/variables' as vars;

form {
  margin-top: vars.$spacing-md;
}

.system-role-warning {
  margin-bottom: vars.$spacing-md;
  font-size: vars.$font-size-sm;
  color: var(--mat-sys-error);
}
