<mat-toolbar color="primary">
  <span [matTooltip]="appVersion">Pet project</span>
  <span class="spacer"></span>

  <app-theme-toggle></app-theme-toggle>

  @if (authStore.isAuthenticated()) {
    <button mat-button [matMenuTriggerFor]="menu">
      {{ authStore.user()?.firstName }} {{ authStore.user()?.lastName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item [routerLink]="'/' + routes.Profile">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>

      <ng-container *appRequirePermission="{ action: 'list', subject: 'User' }">
        <a mat-menu-item [routerLink]="'/' + routes.Users">
          <mat-icon>people</mat-icon>
          <span>Manage Users</span>
        </a>
        <a mat-menu-item [routerLink]="'/' + routes.Users + '/search'">
          <mat-icon>search</mat-icon>
          <span>Search Users</span>
        </a>
      </ng-container>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  } @else {
    <button
      mat-button
      [routerLink]="'/' + routes.Login"
      routerLinkActive="active"
    >
      Login
    </button>
    <button
      mat-button
      [routerLink]="'/' + routes.Register"
      routerLinkActive="active"
    >
      Register
    </button>
  }
</mat-toolbar>
