<mat-toolbar color="primary" *transloco="let t">
  @if (authStore.isAuthenticated() && sidenavState.isMobile()) {
    <button
      mat-icon-button
      (click)="sidenavState.toggleMobileOpen()"
      [attr.aria-label]="t('sidenav.openNavigation')"
    >
      <mat-icon>menu</mat-icon>
    </button>
  }
  <span [matTooltip]="appVersion">{{ appName }}</span>
  <span class="spacer"></span>

  <app-language-switcher></app-language-switcher>
  <app-theme-toggle></app-theme-toggle>

  @if (authStore.isAuthenticated()) {
    <button mat-button [matMenuTriggerFor]="menu">
      {{ authStore.user()?.firstName }} {{ authStore.user()?.lastName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{ t('header.logout') }}</span>
      </button>
    </mat-menu>
  } @else {
    <button
      mat-button
      [routerLink]="'/' + routes.Login"
      routerLinkActive="active"
    >
      {{ t('header.login') }}
    </button>
    <button
      mat-button
      [routerLink]="'/' + routes.Register"
      routerLinkActive="active"
    >
      {{ t('header.register') }}
    </button>
  }
</mat-toolbar>
