@use 'abstracts/functions' as func;

:host {
  position: sticky;
  top: 0;
  z-index: 100;
  display: block;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

mat-menu {
  display: flex;
  align-items: center;
}

.mat-mdc-menu-item {
  display: flex;
  align-items: center;
}

.mat-mdc-menu-item .mat-icon {
  margin-right: func.rem(8);
}
