@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

:root {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-base;
}

input {
  color-scheme: var(--color-scheme);
}
