@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

:host {
  .verify-email-container {
    @include mix.centered-container(vars.$card-width-sm);
  }

  .status-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 24px 0;
    text-align: center;

    mat-icon {
      width: 48px;
      height: 48px;
      font-size: 48px;
    }

    &.success mat-icon {
      color: var(--mat-sys-primary);
    }

    &.error mat-icon {
      color: var(--mat-sys-error);
    }
  }
}
