<ng-container *transloco="let t">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>{{ t(label()) }}</mat-label>

    @if (prefixIcon()) {
      <mat-icon matPrefix aria-hidden="true">{{ prefixIcon() }}</mat-icon>
    }

    @if (type() === 'textarea') {
      <textarea
        matInput
        [formField]="field()"
        [rows]="rows()"
        [autocomplete]="autocomplete() ?? 'off'"
        [attr.aria-describedby]="
          field()().invalid() && field()().touched() ? errorId : null
        "
      ></textarea>
    } @else {
      <input
        matInput
        [type]="type()"
        [formField]="field()"
        [autocomplete]="autocomplete() ?? 'off'"
        [attr.aria-describedby]="
          field()().invalid() && field()().touched() ? errorId : null
        "
      />
    }

    <span matSuffix>
      <ng-content select="[formFieldSuffix]" />
    </span>

    @if (activeError(); as error) {
      <mat-error [id]="errorId">{{ t(error.key, error.params) }}</mat-error>
    }
  </mat-form-field>
</ng-container>
