@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

:host {
  display: block;
  width: 100%;

  @include mix.card-container;
}

:host mat-card {
  position: relative;
}

.header-action {
  position: absolute;
  top: vars.$spacing-md;
  right: vars.$spacing-md;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: vars.$spacing-xl;
}

.roles-table {
  width: 100%;
}
