@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

:host {
  display: block;
  width: 100%;

  @include mix.card-container;
}

mat-card-header {
  display: flex;
  align-items: center;

  .spacer {
    flex: 1;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: vars.$spacing-xl;
}

.roles-table {
  width: 100%;
}
