@use 'abstracts/functions' as func;

.dialog-content {
  display: flex;
  align-items: center;
  padding: func.rem(20) 0;
}

.dialog-icon {
  width: func.rem(24);
  height: func.rem(24);
  margin-right: func.rem(16);
  font-size: func.rem(24);
}
