<ng-container *transloco="let t">
  <div class="bottom-sheet-content">
    @if (data.icon) {
      <mat-icon class="bottom-sheet-icon">{{ data.icon }}</mat-icon>
    }
    <h2 class="bottom-sheet-title">{{ data.title }}</h2>
    <p class="bottom-sheet-message">{{ data.message }}</p>
  </div>
  <div class="bottom-sheet-actions">
    <button mat-button (click)="cancel()">
      {{ data.cancelButton || t('common.cancel') }}
    </button>
    <button
      mat-flat-button
      [color]="
        data.icon === 'warning' || data.icon === 'error_outline'
          ? 'warn'
          : 'primary'
      "
      (click)="confirm()"
    >
      {{ data.confirmButton || t('common.confirm') }}
    </button>
  </div>
</ng-container>
