<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  <div class="dialog-content">
    @if (data.icon) {
      <mat-icon class="dialog-icon">{{ data.icon }}</mat-icon>
    }
    <p>{{ data.message }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ data.cancelButton || 'Cancel' }}</button>
  <button
    mat-raised-button
    [color]="data.icon === 'warning' || data.icon === 'error_outline' ? 'warn' : 'primary'"
    [mat-dialog-close]="true"
  >
    {{ data.confirmButton || 'Confirm' }}
  </button>
</mat-dialog-actions>
