@use 'sass:math';

$base-font-size: 16px;

@function rem($pixels) {
  // If $pixels has no unit, assume it's pixels
  @if math.is-unitless($pixels) {
    $pixels: $pixels * 1px;
  }

  @return ($pixels / $base-font-size) * 1rem;
}
