@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.app-table {
  &__container {
    @include mix.table-container;
  }

  &__actions {
    display: flex;
    gap: vars.$spacing-xs;
  }

  &__truncate {
    max-width: 60px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__chip {
    font-size: vars.$font-size-sm;
    min-height: 24px;
  }
}
