@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../abstracts/functions' as func;

.app-table {
  &__container {
    @include mix.table-container;
  }

  &__actions {
    display: flex;
    gap: vars.$spacing-xs;
  }

  &__truncate {
    display: inline-block;
    max-width: func.rem(60);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__chip {
    min-height: func.rem(24);
    font-size: vars.$font-size-sm;
  }
}
