@use 'abstracts/mixins' as mix;

:host {
  .user-list-container {
    @include mix.card-container;
  }

  .loading-container {
    @include mix.loading-container;
  }

  .empty-state {
    @include mix.empty-state;
  }
}
