@use 'abstracts/mixins' as mix;

:host {
  .user-list-container {
    @include mix.card-container;
  }

  .loading-container {
    @include mix.loading-container;
  }

  .empty-state {
    @include mix.empty-state;
  }

  .scroll-sentinel {
    height: 1px;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    padding: 16px 0;
  }
}
