@use '../abstracts/variables' as vars;

$spacing-sizes: (
  '0': 0,
  '1': vars.$spacing-xxs,
  '2': vars.$spacing-xs,
  '3': vars.$spacing-sm,
  '4': vars.$spacing-md,
  '5': vars.$spacing-lg,
  '6': vars.$spacing-xl,
  '7': vars.$spacing-xxl
);

// Margin utilities
@each $size, $value in $spacing-sizes {
  .m-#{$size} {
    margin: $value;
  }

  .mx-#{$size} {
    margin-right: $value;
    margin-left: $value;
  }

  .my-#{$size} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .mt-#{$size} {
    margin-top: $value;
  }

  .mr-#{$size} {
    margin-right: $value;
  }

  .mb-#{$size} {
    margin-bottom: $value;
  }

  .ml-#{$size} {
    margin-left: $value;
  }
}

// Padding utilities
@each $size, $value in $spacing-sizes {
  .p-#{$size} {
    padding: $value;
  }

  .px-#{$size} {
    padding-right: $value;
    padding-left: $value;
  }

  .py-#{$size} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .pt-#{$size} {
    padding-top: $value;
  }

  .pr-#{$size} {
    padding-right: $value;
  }

  .pb-#{$size} {
    padding-bottom: $value;
  }

  .pl-#{$size} {
    padding-left: $value;
  }
}
