@use 'abstracts/variables' as vars;

.admin-panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: vars.$spacing-md;

  @media (max-width: vars.$breakpoint-xs) {
    padding: vars.$spacing-xs;
  }
}

a[mat-tab-link] {
  text-decoration: none;
}
