<div class="admin-panel-container">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <ng-container
      *appRequirePermissions="{ action: 'search', subject: 'User' }"
    >
      <a
        mat-tab-link
        [routerLink]="routes.Users"
        routerLinkActive
        #usersActive="routerLinkActive"
        [active]="usersActive.isActive"
      >
        Manage Users
      </a>
    </ng-container>
    <ng-container *appRequirePermissions="{ action: 'read', subject: 'Role' }">
      <a
        mat-tab-link
        [routerLink]="routes.Roles"
        routerLinkActive
        #rolesActive="routerLinkActive"
        [active]="rolesActive.isActive"
      >
        Manage Roles
      </a>
    </ng-container>
    <ng-container
      *appRequirePermissions="{ action: 'read', subject: 'Permission' }"
    >
      <a
        mat-tab-link
        [routerLink]="routes.Resources"
        routerLinkActive
        #resourcesActive="routerLinkActive"
        [active]="resourcesActive.isActive"
      >
        Manage Resources
      </a>
    </ng-container>
    <ng-container
      *appRequirePermissions="{ action: 'read', subject: 'Permission' }"
    >
      <a
        mat-tab-link
        [routerLink]="routes.Actions"
        routerLinkActive
        #actionsActive="routerLinkActive"
        [active]="actionsActive.isActive"
      >
        Manage Actions
      </a>
    </ng-container>
  </nav>

  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
