body {
  --color-scheme: inherit;
  --base-background-color: inherit;
  --base-text-color: inherit;
}

.dark-theme {
  --color-scheme: dark;
  --base-background-color: #303030;
  --base-text-color: white;
}
