@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;

html,
body {
  height: 100%;
  margin: 0;
  font-family: vars.$font-family-base;
}

.container {
  @include mix.centered-container();
  display: block;
  box-sizing: border-box;
}
