@use 'abstracts/functions' as func;
@use 'abstracts/mixins' as mix;

:host {
  width: 100%;

  .user-search-container {
    @include mix.card-container;
  }

  .search-fields {
    display: grid;
    grid-template-columns: minmax(func.rem(250), 1fr) minmax(func.rem(250), 1fr);
    gap: func.rem(16);
  }

  .search-actions {
    display: flex;
    gap: func.rem(10);
    justify-content: flex-end;
  }

  .results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .results-count {
    opacity: 0.5;
  }

  .empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: func.rem(40) 0;
    text-align: center;
  }

  .empty-icon {
    width: func.rem(48);
    height: func.rem(48);
    margin-bottom: func.rem(16);
    font-size: func.rem(48);
    opacity: 0.5;
  }

  .scroll-sentinel {
    height: 1px;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    padding: func.rem(16) 0;
  }
}
