@use 'abstracts/variables' as vars;
@use 'abstracts/mixins' as mix;
@use 'abstracts/functions' as func;

:host {
  .user-edit-container {
    @include mix.card-container;
  }

  form {
    margin-top: vars.$spacing-md;
  }

  .form-name-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vars.$spacing-md;

    mat-form-field {
      width: 100%;
    }

    @media (max-width: vars.$breakpoint-xs) {
      grid-template-columns: 1fr;
    }
  }

  .full-width {
    display: block;
    width: 100%;
  }

  .checkbox-group {
    margin: vars.$spacing-xs 0;
  }

  .account-status {
    margin: vars.$spacing-xs 0 vars.$spacing-md;

    .status-badge {
      display: flex;
      gap: vars.$spacing-xs;
      align-items: center;
      padding: vars.$spacing-xs vars.$spacing-sm;
      margin-bottom: vars.$spacing-xs;
      font-size: vars.$font-size-sm;
      border-radius: vars.$border-radius-md;

      &.warn {
        color: var(--mat-sys-on-error-container);
        background-color: var(--mat-sys-error-container);
      }
    }
  }

  .error-container {
    .error-icon {
      color: var(--color-error);
    }

    @include mix.empty-state;
  }

  .error-message {
    @include mix.error-message;
  }

  .loading-container {
    @include mix.loading-container;
  }

  .form-actions {
    @include mix.form-actions;
  }
}
